<!-- The following line of code ensures that this HTML template is...
a "child" of the "base" template we've created. -->
{% extends 'base.html' %}

<!-- In order to alter the pre-defined [block] of the "base" HTML template...
that is meant to be manipulated by its "children", we must first write... -->
{% block content %}
<!-- Then, we can fill this [block] w/ anything our heart desires. -->

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem; background-color: ghostwhite;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://images.unsplash.com/photo-1630918295249-116eac5624b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTF8fHBva2VyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                <div id="password-instructions">
                  <ol>
                    <p><strong>Your password must contain:</strong></p>
                    <li>eight (min) to 24 (max) characters</li>
                    <li>both upper- and lower-case letters</li>
                    <li>at least one number (0-9)</li>
                    <li>no spaces</li>
                  </ol>
              </div>
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0">New Account</span>
                </div>

                <form method="POST">
                  {% include "_form.html" %}
                  <button class="btn btn-dark btn-lg btn-block">Create</button>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}