<!-- The following line of code ensures that this HTML template is...
a "child" of the "base" template we've created. -->
{% extends 'base.html' %}

<!-- In order to alter the pre-defined [block] of the "base" HTML template...
that is meant to be manipulated by its "children", we must first write... -->
{% block content %}
<!-- Then, we can fill this [block] w/ anything our heart desires. -->

  <h3>Welcome {{ user.username }}.</h3>

  <form action="/texas_hold_em/{{ user.id }}">
    <button id="begin-texas-hold-em">Play Texas Hold 'Em</button>
  </form>

  <form action="/delete/user/{{ user.id }}">
    <button id="delete" formmethod="POST">Delete Account</button>
  </form>

{% endblock %}